<!DOCTYPE html>
<html>
<head>
    <script>
       //alert("50K");
       // var nb = [(23 + 7) * 12 - 8] / 6
       //alert(nb);

       // var sum = 0;
       // for (var i = 1; i < 100; i+=2) {
       //     sum += i;
       // }
       // alert(sum);

        //var array = ['laocheng', 'xiaolong', 'laozhao', 'wenxuan', 'sixiwanzi',
        //    'luwei', 'minghui', 'zixiang']
        //for (var i = 0; i < array.length; i++) {}
        //alert('源栈学生共有'+i+'人');
        //array[0] = 'xiaoyu';
        //array[8] = 'dafeige';
        //    for (var i = 0; i < array.length; i++) {
        //        alert(array[i]);
        //}
        //var lenght = 10;
        //var arr = new arr[];
        //arr[0] = 1;
        //alert(arr[0]);
        //for (var i = 0; i < arr.length; i++) {
        //     arr[i] + Math.floor(Math.random()*(100-0));
        //    alert(arr[i]);
        //}
        //alert(arr[0]);
      
        }

    </script>
    
</head>
<body>
    
    @RenderBody()

</body>
</html>
